ul {
  list-style: none;
  padding: 0;
  margin:0;
}

a {
  text-decoration: none;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

ul {
  width: 20%;
  display: flex;

  li {
    margin: 0 4%;
    font-size: 16px;
  }
}
