<mat-toolbar color="primary">
  <button (click)="getMenu()" mat-icon-button color="accent">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <a routerLink="/">Browse Project</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <!-- <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li> -->
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/sign-up" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button (click)="onLogout()" mat-button routerLinkActive="mat-accent">Logout</button>
    </li>
    <li class="avatar"[routerLink]="'/profile/' + userId"  *ngIf="userIsAuthenticated">
      <mat-icon style="font-size: 35px;" matBadge="15" matBadgeColor="warn">person</mat-icon>
    </li>
  </ul>
</mat-toolbar>
