<div class="card-container">

  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card *ngIf="!isLoading && user" class="example-card">

    <mat-card-header>
      <mat-card-title>
        <div class="img-container">
          <img [src]="user.subUserFields.imgPath" width="180" alt="">
        </div>
        {{ user.userFields.username }}
        <mat-card-actions *ngIf="profileID === userId || userType == 'admin'">
          <a [routerLink]="'/profile/edit/' + userId" *ngIf="profileID === userId" color="primary" mat-raised-button>EDIT</a>
          <button color="warn" mat-raised-button (click)='onDelete(user._id)'>DELETE</button>
        </mat-card-actions>
      </mat-card-title>
      <mat-card-subtitle>
        <label>Full Name: </label>
        {{ user.subUserFields.name }} {{ user.subUserFields.surname }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <label>email: </label>
        {{ user.userFields.email }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <h4 *ngIf="userType== 'Developer'">Projects:</h4>
      <h6 *ngIf="userType== 'Developer'">*if ticked already accepted </h6>
      <h4 *ngIf="userType== 'Client'">Projects:</h4>
      <h6 *ngIf="userType== 'Client'">*if ticked already accepted </h6>


      <mat-accordion #vc *ngIf="!isLoading && posts.length > 0"  multi="false">
        <mat-expansion-panel *ngFor="let post of posts">
          <mat-expansion-panel-header>
            {{ post.title }}
            <mat-icon style="cursor: pointer;"  *ngIf="post.devId != null">check_circle</mat-icon>
          </mat-expansion-panel-header>
          <div class="post-img">
            <img [src]="post.imgPath" [alt]="post.imgPath">
          </div>
          <label style="text-decoration: underline;">Description: </label>
          <p>
            {{ post.content }}
          </p>
          <div class="rest-info">
            <div class="col-1">
              <div class="category1">
                <label>Category: </label>
                <span>{{post.category}}</span>
              </div>
              <div class="category2">
                <label>Subcategory: </label>
                <span>{{post.subCategory}}</span>
              </div>
            </div>
            <div class="col-2">
              <div class="payment">
                <label>Accepted: </label>
                <span *ngIf="post.devId != null">True</span>
                <span *ngIf="post.devId == null">False</span>
              </div>
              <div class="duration">
                <label>Completed: </label>
                <span *ngIf="post.completed == true">True</span>
                <span *ngIf="post.completed == false">False</span>
              </div>
            </div>
          </div>
          <div class="offers">
            <hr>
            <mat-card *ngFor="let bid of post.bids">
              <mat-card-title> {{bid.username}} <mat-icon style="cursor: pointer;" (click)="goToDev(bid.devId)" color="primary">person</mat-icon></mat-card-title>
              <!-- <mat-card-subtitle> {{bid.devId}}</mat-card-subtitle> -->
              <mat-card-content>
                <div class="bid-container">
                  <label>Bid: </label>
                  <span>${{bid.price}}</span>
                </div>
                <div class="actions" *ngIf="userType =='Client' ">
                  <button mat-raised-button color="primary" *ngIf="post.devId == null" (click) = "acceptBid(post.id, bid._id, bid.devId)">Accept</button>
                  <button mat-raised-button color="warn" *ngIf="post.devId == null" (click) = "declineBid(post.id, bid._id, bid.devId)">Decline</button>
                  <p *ngIf="post.devId != null && post.devId == bid.devId">Winner</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="row">
            <h3> Tasks: </h3>
            <button mat-raised-button color="primary"  *ngIf="userType == 'Developer' && post.devId != null && post.completed != true" (click) = "submitCompletition(post.id)">Project Completed</button>
          </div>
          <div class="offers">
            <hr>
            <mat-card *ngFor="let task of post.tasks">
              <mat-card-title>
                {{task.name}}
                <mat-icon style="cursor: pointer;"  *ngIf="task.completed == true">done</mat-icon>
              </mat-card-title>
              <mat-card-content>
                <div class="bid-container">
                  <label>Description: </label>
                  <span>{{task.description}}</span>
                </div>
                <div class="actions" *ngIf="userType =='Developer' && task.completed != true">
                  <button mat-raised-button color="primary" (click) = "completeTask(post.id, task._id)">Complete Task</button>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-action-row *ngIf="userType =='Developer' && post.devId != null && post.completed != true">
              <form
                [formGroup]="taskform"
                *ngIf="!isLoading"
                #postForm="ngForm"
                (submit)="addTask()">
                <mat-form-field>
                  <mat-label>Task Name</mat-label>
                  <input matInput type="text" formControlName="name" placeholder="Task name">
                </mat-form-field>
                <mat-error *ngIf="taskform.get('name').invalid">Please enter name</mat-error>
                <mat-form-field>
                  <mat-label>Description</mat-label>
                  <textarea
                    [formGroup]="taskform"
                    matInput
                    rows="3"
                    placeholder="Task Descriptionn"
                    formControlName="description"
                  >
                  </textarea>
                </mat-form-field>
                <mat-error *ngIf="taskform.get('description').invalid">Please enter description</mat-error>
                </form>
              <button mat-raised-button color="primary" (click) = "addTask(post.id)" >Add Task</button>
            </mat-action-row>
          </div>
          <mat-action-row *ngIf="userIsAuthenticated && userId===profileID && userType =='Client'">
            <a [routerLink]="['/edit', post.id]" color="primary" *ngIf="post.devId == null" mat-button>EDIT</a>
            <form
                [formGroup]="commentform"
                *ngIf="!isLoading && post.completed == true && post.commented == false"
                #postForm="ngForm"
                (submit)="commentDev(post.id, post.devId)">
                <mat-form-field>
                  <mat-label>Rating</mat-label>
                  <input matInput type="number" formControlName="rating" min="1" max="5">
                </mat-form-field>
                <mat-error *ngIf="commentform.get('rating').invalid">Please enter rating</mat-error>
                <mat-form-field>
                  <mat-label>Comment</mat-label>
                  <textarea
                    [formGroup]="commentform"
                    matInput
                    rows="3"
                    placeholder="Comment Descriptionn"
                    formControlName="comment"
                  >
                  </textarea>
                </mat-form-field>
                <mat-error *ngIf="commentform.get('comment').invalid">Please enter description</mat-error>
                <button mat-raised-button color="primary">Submit Comment</button>
            </form>
            <button color="warn" mat-button (click)="onDelete(post.id)">DELETE</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

      <h4 *ngIf="userType == 'Developer'">Comments:</h4>
      <mat-accordion #vc *ngIf="!isLoading && devComments.length > 0"  multi="false">
        <mat-expansion-panel *ngFor="let comment of devComments">
          <mat-expansion-panel-header>
            {{ comment.username }}
          </mat-expansion-panel-header>
          <div class="rest-info">
            <div class="col-1">
              <div class="category1">
                <label>Description: </label>
                <span>{{comment.comment}}</span>
              </div>
              <div class="category2">
                <label>Rating: </label>
                <span>{{comment.rating}}/5</span>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

  </mat-card>
</div>
