<div class="card-container">

  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card *ngIf="!isLoading && user" class="example-card">

    <mat-card-header>
      <mat-card-title>
        <div class="img-container">
          <img [src]="user.subUserFields.imgPath" width="180" alt="">
        </div>
        {{ user.userFields.username }}
        <mat-card-actions *ngIf="profileID === userId">
          <a [routerLink]="'/profile/edit/' + userId" color="primary" mat-raised-button>EDIT</a>
          <button color="warn" mat-raised-button (click)='onDelete(user._id)'>DELETE</button>
        </mat-card-actions>
      </mat-card-title>
      <mat-card-subtitle>
        <label>Full Name: </label>
        {{ user.subUserFields.name }} {{ user.subUserFields.surname }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <label>email: </label>
        {{ user.userFields.email }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <h4 *ngIf="userType== 'Developer'">Projects bided on:</h4>
      <h4 *ngIf="userType== 'Client'">Unaccepted Projects:</h4>

      <mat-accordion #vc *ngIf="!isLoading && posts.length > 0"  multi="false">
        <mat-expansion-panel *ngFor="let post of posts">
          <mat-expansion-panel-header>
            {{ post.title }}
          </mat-expansion-panel-header>
          <div class="post-img">
            <img [src]="post.imgPath" [alt]="post.imgPath">
          </div>
          <label style="text-decoration: underline;">Description: </label>
          <p>
            {{ post.content }}
          </p>
          <div class="rest-info">
            <div class="col-1">
              <div class="category1">
                <label>Category: </label>
                <span>{{post.category}}</span>
              </div>
              <div class="category2">
                <label>Subcategory: </label>
                <span>{{post.subCategory}}</span>
              </div>
            </div>
            <div class="col-2">
              <div class="payment">
                <label>Accepted: </label>
                <!-- <span *ngIf="bid.devId !== null">True</span>
                <span *ngIf="bid.devId === null">False</span> -->
              </div>
              <div class="duration">
                <label>Duration: </label>
                <span>10/6/2020 - 10/1/2021</span>
              </div>
            </div>
          </div>
          <div class="offers">
            <hr>
            <mat-card *ngFor="let bid of post.bids">
              <mat-card-title> {{bid.username}} <mat-icon style="cursor: pointer;" (click)="goToDev(bid.devId)" color="primary">person</mat-icon></mat-card-title>
              <!-- <mat-card-subtitle> {{bid.devId}}</mat-card-subtitle> -->
              <mat-card-content>
                <div class="bid-container">
                  <label>Bid: </label>
                  <span>${{bid.price}}</span>
                </div>
                <div class="actions" *ngIf="userType =='Client'">
                  <button mat-raised-button color="primary" (click) = "acceptBid(post.id, bid._id, bid.devId)">Accept</button>
                  <button mat-raised-button color="warn" (click) = "declineBid(post.id, bid._id, bid.devId)">Decline</button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <mat-action-row *ngIf="userIsAuthenticated && userId===profileID && userType =='Client'">
            <a [routerLink]="['/edit', post.id]" color="primary" mat-button>EDIT</a>
            <button color="warn" mat-button (click)="onDelete(post.id)">DELETE</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

  </mat-card>
  <mat-card>
    <mat-card-content>
      <h4>Accepted Projects:</h4>

      <mat-accordion #vc *ngIf="!isLoading && posts.length > 0"  multi="false">
        <mat-expansion-panel *ngFor="let post of posts">
            <mat-expansion-panel-header>
              {{ post.title }}
            </mat-expansion-panel-header>
            <div class="post-img">
              <img [src]="post.imgPath" [alt]="post.imgPath">
            </div>
            <label style="text-decoration: underline;">Description: </label>
            <p>
              {{ post.content }}
            </p>
            <div class="rest-info">
              <div class="col-1">
                <div class="category1">
                  <label>Category: </label>
                  <span>{{post.category}}</span>
                </div>
                <div class="category2">
                  <label>Subcategory: </label>
                  <span>{{post.subCategory}}</span>
                </div>
              </div>
              <div class="col-2">
                <div class="payment">
                  <label>Payment Method: </label>
                  <span>Milestones</span>
                </div>
                <div class="duration">
                  <label>Duration: </label>
                  <span>10/6/2020 - 10/1/2021</span>
                </div>
              </div>
            </div>
            <div class="offers">
              <hr>
              <mat-card *ngFor="let bid of post.bids">
                <mat-card-title> Username <mat-icon style="cursor: pointer;" (click)="goToDev(bid.devId)" color="primary">person</mat-icon></mat-card-title>
                <mat-card-subtitle> {{bid.devId}}</mat-card-subtitle>
                <mat-card-content>
                  <div class="bid-container">
                    <label>Bid: </label>
                    <span>${{bid.price}}</span>
                  </div>
                  <div class="actions" *ngIf="userType =='Client'">
                    <button mat-raised-button color="primary" (click) = "acceptBid(post.id, bid._id, bid.devId)">Accept</button>
                    <button mat-raised-button color="warn" (click) = "declineBid(post.id, bid._id, bid.devId)">Decline</button>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <mat-action-row *ngIf="userIsAuthenticated && userId===profileID && userType =='Client'">
              <a [routerLink]="['/edit', post.id]" color="primary" mat-button>EDIT</a>
              <button color="warn" mat-button (click)="onDelete(post.id)">DELETE</button>
            </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
