<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- <form
    #signUpForm="ngForm"
    *ngIf="!isLoading"
    (submit)="signUp(signUpForm)">
  <mat-form-field>
    <input
      matInput
      name="email"
      ngModel
      type="email"
      placeholder="Email"
      #emailInput="ngModel"
      required
      email
    >
    <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      ngModel
      name="password"
      type="password"
      placeholder="Password"
      #passwordInput="ngModel"
      minlength="6"
      required
     />
    <mat-error *ngIf="passwordInput.invalid">Valid password 6 characters minimum</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Role</mat-label>
    <mat-select
      required
      matInput
      name="userType"
      type="text"
    >
      <mat-option value="Client">Client</mat-option>
      <mat-option value="Developer">Developer</mat-option>
    </mat-select>
  </mat-form-field>
    <button
      *ngIf="!isLoading"
      mat-raised-button
      color="primary"
      type="submit"
    >Sign Up</button>
  </form> -->
  <button color="primary" mat-stroked-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
  </button>

  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Basic Info</ng-template>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="username" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" name="email" type="email" email placeholder="Email" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Password" type="password" name="password" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select Role</mat-label>
          <mat-select
            required
            matInput
            name="userType"
            type="text"
            (selectionChange)="getSelection()"
            [formControl]="selectedRole"
          >
            <mat-option value="Client">Client</mat-option>
            <mat-option value="Developer">Developer</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button  matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form
        [formGroup]="secondFormGroup"
        >
        <ng-template matStepLabel>Personal Info</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput formControlName="firstname" placeholder="First Name - Last Name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input
            matInput formControlName="lastname" placeholder="First Name - Last Name">
        </mat-form-field>
        <div *ngIf="userType === 'Developer'" class="container">
          <h3>Dev Skills:</h3>
          <mat-selection-list>
            <mat-list-option *ngFor="let skill of skillTags" (click) = "show(skill)">
              {{skill}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div>
          <button mat-fab color="primary" type="button" (click)="filePicker.click()"><mat-icon>person</mat-icon></button>
          <input type="file" #filePicker (change)="onFileImported($event)">
        </div>
        <div
        class="img-preview"
        *ngIf="imgPreview !== '' && imgPreview && secondFormGroup.get('image').valid">
        <img [src]="imgPreview" [alt]="secondFormGroup.value.title">
      </div>

        <div>
          <button mat-button matStepperPrevious color="primary">Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <button
        *ngIf="!isLoading"
        mat-raised-button
        color="primary"
        minlength="6"
        type="submit"
        (click)="submitForm()"
    >Sign Up</button>
      <div >
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</mat-card>
  <!-- <div>
    <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
    <input type="file" #filePicker (change)="onFileImported($event)">
  </div>

  <div
    class="img-preview"
    *ngIf="imgPreview !== '' && imgPreview && form.get('image').valid">
    <img [src]="imgPreview" [alt]="form.value.title">
  </div> -->
