mat-card {
  margin-top: 45px;
}

mat-form-field {
  width: 100%;

  textarea {
    // width: 70%;
  }
  button {
    width: 23%!important;
    color: red;
  }
}

.skill-list{
  width: 100%;
}

mat-spinner {
  margin:auto;
}

input[type=file] {
  visibility: hidden;
}

.img-preview {
  height: 5rem;
  margin: 1rem 0;

  img {
    height: 100%;
  }
}
