<form>
    <div class="img-container">
        <img [src]="user.subUserFields.imgPath" width="180" alt="">
      </div>
    <mat-form-field>
      <mat-label>Usename</mat-label>
      <input matInput  value="user.userFields.username">
    </mat-form-field>
  
    <table cellspacing="0"><tr>
      <td><mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput value="user.subUserFields.name">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Last Name </mat-label>
        <input matInput value="user.subUserFields.surname">
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Desc" value="user.description"> </textarea>
      </mat-form-field>
    </p>
  
    <p>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password">
        </mat-form-field>
    </p>
  </form>