<div class="list-container">

<mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion *ngIf="!isLoading && posts.length > 0"  multi="false">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-img">
      <img [src]="post.imgPath" [alt]="post.imgPath">
    </div>
    <label style="text-decoration: underline;">Description: </label>
    <p>
      {{ post.content }}
    </p>
    <div class="rest-info">
      <div class="col-1">
        <div class="category1">
          <label>Category: </label>
          <span>{{post.category}}</span>
        </div>
        <div class="category2">
          <label>Subcategory: </label>
          <span>{{post.subCategory}}</span>
        </div>
      </div>
      <div class="col-2">
        <div class="payment">
          <label>Payment Method: </label>
          <span>Milestones</span>
        </div>
        <div class="duration">
          <label>Duration: </label>
          <span>10/6/2020 - 10/1/2021</span>
        </div>
      </div>
    </div>
    <div class="offers">
      <hr>
      <mat-card *ngFor="let bid of post.bids">
        <mat-card-title> Username</mat-card-title>
        <mat-card-subtitle> {{bid.devId}}</mat-card-subtitle>
        <mat-card-content>
          <div class="bid-container">
            <label>Bid: </label>
            <span>${{bid.price}}</span>
          </div>
          <div class="actions" *ngIf="isClient">
            <button mat-raised-button color="primary" (click) = 'acceptBid(post.id, bid._id, bid.devId)'>Accept</button>
            <button mat-raised-button color="warn" (click) = 'declineBid(post.id, bid._id, bid.devId)'>Decline</button>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="actions" *ngIf="!isClient">
        <form
        [formGroup]="form"
        *ngIf="!isLoading"
        #postForm="ngForm"
        (submit)="makeBid()">
        <mat-form-field>
          <mat-label>Bid Price</mat-label>
          <input matInput type="number" formControlName="price" placeholder="Place your bid">
        </mat-form-field>
        <mat-error *ngIf="form.get('price').invalid">Please enter price</mat-error>
        </form>

        <button mat-raised-button (click)='makeBid(post.id)' color="primary">Bid</button>
      </div>
    </div>
    <mat-action-row *ngIf="userIsAuthenticated && userId===post.owner ">
      <a [routerLink]="['/edit', post.id]" color="primary" mat-button>EDIT</a>
      <button color="warn" mat-button (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  *ngIf="posts.length > 0"
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageChanged($event)"
></mat-paginator>
<p *ngIf="!isLoading && posts.length <= 0" class="info mat-body-1">No Posts yet</p>
</div>
