  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion *ngIf="!isLoading && posts.length > 0"  multi="true">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-img">
      <img [src]="post.imgPath" [alt]="post.imgPath">
    </div>
    <p>
      {{ post.content }}
    </p>
    <mat-action-row>
      <a [routerLink]="['/edit', post.id]" color="primary" mat-button>EDIT</a>
      <button color="warn" mat-button (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="!isLoading && posts.length <= 0" class="info mat-body-1">No Posts yet</p>
